/classification/data/trainingSets/trainingDataBIBBandSpinfo.csv

/classification/data/trainingSets/trainingdata_anonymized.tsv

/classification/db/bibbDB.db

/classification/output/

/classification/output/svm/


/information_extraction/

/categorization/


*.log
.classpath
.settings
/target/
/bin/









